<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>キャラ作成画面</title>
</head>
<body>
	<h2>キャラクター作成</h2>

	<!-- 「action」はローカルのファイルで「th:action」はweb上でのページの遷移先 -->
	<!-- 「th:object」はコントローラークラスで指定した実際のオブジェクトを記載 -->
	<form method="post" action="Command.html" th:action="@{/command}" th:object="${CharacterForm}" th:object="${Work}">
		<p>
			職業: <input type="radio" name ="radio" value="戦士" >戦士
			<input type="radio" name = "radio" value="魔法使い">魔法使い
		</p>

		<p>
		<!-- 「*」はth:objectで指定した配下のデータを使用する。-->
		<!-- th:fieldはクラスファイルにフィールド変数を記載する。 -->
			名前： <input type="text" name= "name">
		</p>
		<p>
			<input type="submit" value="次へ">
		</p>
	</form>

</body>
</html>